.App {
  text-align: center;
}

body {
  background-color: black;
  font-family: 'Roboto';
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

h1 {
  color: white;
  font-size: 40px;
  font-weight: 400;
}

.position-text {
  text-align: right;
  font-size: 20px;
  font-weight: 900;
  margin: 2px;
}

.track-text {
  text-align: left;
  font-size: 15px;
  font-weight: 700;
  margin: 2px;
}

.artist-text {
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  margin: 2px;
  color: grey;
}

.chart-item-container {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  width: 1300px;
  margin: auto;
  align-self: center;
}

.chart-item {
  width: 170px;
  justify-self: center;
}

a:hover {
  opacity: 0.8;
}
